.container {
    height: 90vh;
    width: 100vw;
    background: url('../../public/bg.jpg');
    background-size: cover;
    overflow: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container>blockquote {
    height: 30%;
    width: 25%;
    box-sizing: border-box;
    position: relative;
    background-color: rgba(51, 255, 189, 0.3);
    border: 2px solid rgba(51, 255, 189);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
}

.container>blockquote>h6 {
    font-size: 1.5rem;
    justify-self: center;
}

.right-align {
    position: absolute;
    cursor: pointer;
    text-decoration-style: none;
    color: black;
    right: 1rem;
    bottom: 1rem;
}