.nav-wrapper {
    height: 8vh;
    width: 100vw;
    background-color: #B33771;
    display: flex;
    position: relative;
    align-items: center;
}

.right {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    text-decoration: none;
}

.rightli {
    margin-left: 2rem;
    list-style: none;
    color: #F8EFBA;
}
.rightli>span:visited {
    text-decoration: none;
}

.rightli>span:hover {
    text-decoration: none;
}

.rightli>span:active {
    text-decoration: none;
}