.pcontainer {
    width: 100vw;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.center-align {
    box-sizing: border-box;
    padding: 2rem;
    margin: auto;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
    color: #FF336B;
}

.center-align>h5 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.center-align>h6 {
    font-size: 1rem;
    margin: 0;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
}

h3 {
    font-size: 2.5rem;
    color: #B33771;
}

.quotes {
    width: 100%;
    height: 60%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    overflow: auto;
    justify-content: center;
}

.quotes>blockquote {
    box-sizing: border-box;
    width: 40%;
    min-height: 20%;
    display: flex;
    margin: 5px;
    background-color: rgba(255, 51, 209, 0.3);
    border: 2px solid  rgba(255, 51, 209) ;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.pcontainer>blockquote>h6 {
    font-size: 1.5rem;
}